doctype html  
html(lang='en')  
 head
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  title TodoApp
   
 body
   h1 Todo list  App
   
   div.container
     form(action='/addtodo' method='POST')
       input(type='text' name='newtodo' placeholder='add new todo')
       button(type='submit' formaction='/addtodo') added todo
       h2 Added Todo's
        button(formaction='/remove' type="submit") remove
       
       ul
         each todo1 in todo 
           li= todo1
              input(type='checkbox' name='check' value=todo1)
                    
       h1 Take Note
       form(action='/addnote' method='POST')
         input(type='text' name='newnote' placeholder='create new note')
         button(type='submit' formaction='/addnote') Add note
           
       h2 Notes
       form(action='/removenote' method='POST') 
         button(formaction='/removenote' type="submit") remove note
         
         each note1 in note 
           p= note1
            input(type='checkbox' name='check' value=note1)
              
            script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
           
                  
              
              
              
                
              
          
              
       
       
      

         
         
         
											
						
